<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="preProcessorToUpper"
          class="edu.school21.app.PreProcessorToUpperImpl">
    </bean>

    <bean id="preProcessorToLower"
          class="edu.school21.app.PreProcessorToLowerImpl">
    </bean>

    <bean id="rendererErr"
          class="edu.school21.app.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="rendererStandart"
          class="edu.school21.app.RendererStandartImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>

    <bean id="printerWithDateTime"
          class="edu.school21.app.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererStandart"/>
    </bean>

    <bean id="printerWithPrefix"
          class="edu.school21.app.PrinterWithPrefixImpl">
        <property name="prefix" value="Prefix"/>
        <constructor-arg ref="rendererErr"/>
    </bean>

</beans>